# Virtual Environment
.venv/
venv/
ENV/

# Environment Variables / Secrets
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.spec

# Extracted output and test files
output/

# SQLite Database
*.db
studyverse.db

# Frontend
frontend/node_modules/
frontend/dist/

.venv_old/
